.mdl-layout-title {
  color:orange;
  opacity:.7;
}

.header-color {
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.landingGrid {
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-align:center;
width:100%;
position:fixed;
top:0;
left:0;
height:100%;

}

.avatarImage {
  height:300px;
  padding-top:1em;
}

.banner-text {
  text-align:center;
  background:orange;
  opacity:.8;
  width:70%;
  margin:auto;
  border-radius:10px;
  padding-bottom:.5rem;
}

.banner-text h1 {
  padding-top:.5rem;
  font-size:66px;
  font-weight:bold;
  color:white;

}

.banner-text hr {
  border-top:5px dotted white;
  width:15%;
  margin:auto;
  opacity:.7;
}

.banner-text p {
  color:white;
  padding:1em;
  font-size:20px;
}

.social-links {
  display:flex;
  justify-content: space-between;
  width:50%;
  margin:auto;
}

.social-links i {
  color:white;
  font-size:5em;
  padding:8px;
}

.flyer-container {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding:1rem;
  padding-top:1rem;
}

.photo-container {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding:1rem;
  padding-top:1rem;
}

.imageClass {
  height:400px;
  box-shadow: 2px 5px 5px rgba(0,0,0,.7);
}




@media (max-width:950px) {
  .banner-text h1 {
    font-size:25px;
    font-weight:bold;
    color:white;
  }

}

@media (max-width:400px) {
  .banner-text h1 {
    font-size:15px;
    font-weight:bold;
    color:white;
  }

}
