.mdl-layout-title {
  color:#BA8B02;
  font-family: 'Major Mono Display', monospace;
}

.font span {
  font-family: 'Major Mono Display', monospace;
}

.mdl-navigation__link {
  font-family: 'Major Mono Display', monospace;
}

.mdl-card.mdl-shadow--2dp {
  background-repeat: no-repeat;
}

.font {
  font-family: 'Major Mono Display', monospace;
}

.header-color {
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Major Mono Display', monospace;
}
.header-color span {
  font-family: 'Major Mono Display', monospace;
}

.landingGrid {
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-align:center;
width:100%;
position:fixed;
top:0;
left:0;
height:100%;


}

.avatarImage {
  opacity:.4;
  height:400px;
  margin:auto;
  padding:0;
  margin-left:0;
}

.banner-text {

  text-align:center;
  background:#BA8B02;
  opacity:.8;
  width:70%;
  margin:auto;
  border-radius:10px;
  padding-bottom:.5rem;
}

.banner-text h1 {
  padding-top:.5rem;
  font-size:60px;
  font-weight:bold;
  color:white;
  font-family:'Major Mono Display', monospace;
}

.banner-text hr {
  border-top:5px dotted white;
  width:15%;
  margin:auto;
  opacity:.7;
}

.banner-text p {
  color:white;
  padding:1em;
  font-size:20px;
  font-family: 'Major Mono Display', monospace;
}

.social-links {

  display:flex;
  justify-content: space-around;
  width:50%;
  margin:auto;
}

.social-links i {
  color:white;
  font-size:5em;
  padding:8px;
}

.custom-card {
  height:300px;
  width:400px;
  min-width:20%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right:1rem;
}

.flyer-container {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding:1rem;
  padding-top:1rem;

}

.tabColor {
  opacity:.7;
}

.photo-container {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding:1rem;
  padding-top:1rem;


}

.imageClass {
  height:400px;
  box-shadow: 2px 5px 5px rgba(0,0,0,.7);
}

.aboutContainer {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  margin:0;
  padding-top:70px;
  background: #BA8B02;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #181818, #BA8B02);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #181818, #BA8B02); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  text-align:center;


}
.aboutGrid {
    height:97%;
    width:90%;
    background:rgba(0,0,0,0.4);
    border-radius:10px;
}

.aboutBackground {
  opacity:.7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius:10px;
  height:575px;
}

.aboutContent {

  color:white;
  height:90%;
  border-radius:12px;
  padding-left:.5em;
  padding-right:.5em;
}

.aboutContent p {
  font-size:16px;
  font-weight: 400;
  font-family: 'Major Mono Display', monospace;
}

.aboutContent h1 {
  font-family: 'Major Mono Display', monospace;

}
.aboutContent button {
  background:rgba(0,0,0,0);
  border:none;
  cursor:pointer;
}
.aboutContent button:focus{
  outline:0;
}
.aboutContent li {
  list-style: none;
  padding-left:0;
  margin-left:0;
  padding-right:4rem;
}
.aboutContent ul {
  margin-bottom:2rem;
}
.letterAlt {
  color: teal;
  opacity:.5;
  background:none;
}

.contactInfo {
  position:fixed;
  bottom:0;
  left:0;
  height:100%;
  width:100%;
  padding-top:3rem;
  background-color:white;
  z-index:100;
  transform:translateY(-100%);
  transition: transform .3s ease-out;
}
.contactInfo.open {
  transform:translateY(0);
  position:fixed;
  bottom:0;
  left:0;
  height:100%;
  width:100%;
  padding-top:3rem;
  background-color:white;
  z-index:100;
}
.contactGrid {
  height:100%;
  margin-top:300px;
  padding-top:500px;

}
.contact-section-a {
  padding-top:6rem;
  text-align:center;
}
.contact-section-a h1 {
  font-family: 'Oxygen Mono', monospace;
  font-weight: bold;
}
.contact-section-a img {
  height:300px;
}
.contact-section-a button {
  display:block;
  width:100%;
  margin:auto;
  margin-top:2rem;

}
.iconContact {
  font-size:300px;
}
div.mdl-cell.mdl-cell--6-col {
  margin:auto;
}
.contact-section-b {
  margin-top: 6rem;

}

.contact-section-b h2 {
    font-family: 'Oxygen Mono', monospace;
}

.contact-icons {
  font-size:50px;
  display:block;
  margin-top:1.3rem;

}
.contactLabels {
  font-size:20px;
  padding-top:1rem;
  margin-top:.8rem;
}

.labelAlt {
  margin-top:2.1rem;
}


@media (max-width:1080px) {
  .banner-text h1 {
    font-size:25px;
    font-weight:bold;
    color:white;
  }

}

@media (max-width:420px) {
  .banner-text h1 {
    font-size:15px;
    font-weight:bold;
    color:white;
  }

  .aboutContent p {
    font-size:12px;
  }

  .aboutContent h1 {
    font-size:12px;
  }

  .avatarImage {
    height:280px;
  }

}
@media (max-width:375px) {
  .aboutContent h1 {
    display:none;
  }
}

@media (max-width:768px) {
  .aboutBackground {
    display:none;
  }
  .aboutContent h1 {
    font-size:25px;
  }
  .contact-section-a {
    display:none;
  }
  .contact-icons {
    text-align:center;
    margin-top:2rem;
  }
  div.mdl-cell.mdl-cell--4-col {
    margin:auto;
  }
  div.mdl-cell.mdl-cell--7-col {
    margin:auto;
  }
}
